<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="${extName}"
        android:roundIcon="@drawable/ic_launcher">
        <meta-data android:name="newshub.extension" android:value="true" />
        <meta-data
            android:name="newshub.extension.registry"
            android:value="newshub-extension.json" />
    </application>
</manifest>
