<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@drawable/ic_launcher"
        android:label="${extName}"
        android:roundIcon="@drawable/ic_launcher">
        <service
            android:name=".HackerNewsExtensionService"
            android:exported="true"
            android:isolatedProcess="true"
            android:permission="tw.kevinzhang.newshub.permission.BIND_EXTENSION"
            android:process=":source_hackernews">
            <intent-filter><action android:name="tw.kevinzhang.newshub.extension.SERVICE" /></intent-filter>
            <meta-data android:name="newshub.extension.protocol" android:value="1" />
            <meta-data android:name="newshub.extension.source_id" android:value="tw.kevinzhang.newshub.extension.hackernews" />
            <meta-data android:name="newshub.extension.source_name" android:value="Hacker News" />
            <meta-data android:name="newshub.extension.source_lang" android:value="en" />
            <meta-data android:name="newshub.extension.source_base_url" android:value="https://news.ycombinator.com" />
        </service>
    </application>
</manifest>
