<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:icon="@drawable/ic_launcher"
        android:label="${bundleName}"
        android:roundIcon="@drawable/ic_launcher">
        <service
            android:name=".EynyExtensionService"
            android:exported="true"
            android:isolatedProcess="true"
            android:permission="tw.kevinzhang.newshub.permission.BIND_EXTENSION"
            android:process=":source_eyny">
            <intent-filter><action android:name="tw.kevinzhang.newshub.extension.SERVICE" /></intent-filter>
            <meta-data android:name="newshub.extension.protocol" android:value="1" />
            <meta-data android:name="newshub.extension.source_id" android:value="tw.kevinzhang.eyny" />
            <meta-data android:name="newshub.extension.source_name" android:value="EYNY 伊莉討論區" />
            <meta-data android:name="newshub.extension.source_lang" android:value="zh-TW" />
            <meta-data android:name="newshub.extension.source_base_url" android:value="https://eyny.com" />
        </service>
    </application>
</manifest>
