<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="${extName}" android:icon="@drawable/ic_launcher">
        <service
            android:name=".PttExtensionService"
            android:exported="true"
            android:isolatedProcess="true"
            android:permission="tw.kevinzhang.newshub.permission.BIND_EXTENSION"
            android:process=":source_ptt">
            <intent-filter><action android:name="tw.kevinzhang.newshub.extension.SERVICE" /></intent-filter>
            <meta-data android:name="newshub.extension.protocol" android:value="1" />
            <meta-data android:name="newshub.extension.source_id" android:value="tw.kevinzhang.newshub.extension.ptt" />
            <meta-data android:name="newshub.extension.source_name" android:value="PTT 批踢踢實業坊" />
            <meta-data android:name="newshub.extension.source_lang" android:value="zh-TW" />
            <meta-data android:name="newshub.extension.source_base_url" android:value="https://www.ptt.cc" />
        </service>
    </application>
</manifest>
