<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="newshub.extension" android:value="true" />
        <meta-data android:name="newshub.extension.source_class" android:value="${extClass}" />
        <meta-data android:name="newshub.extension.name" android:value="${extName}" />
        <meta-data android:name="newshub.extension.source_id" android:value="tw.kevinzhang.newshub.extension.gamer" />
        <meta-data android:name="newshub.extension.source_name" android:value="Gamer 巴哈姆特" />
        <meta-data android:name="newshub.extension.source_lang" android:value="zh-TW" />
        <meta-data android:name="newshub.extension.source_base_url" android:value="https://forum.gamer.com.tw" />
    </application>
</manifest>
